/*FONTS*/
@font-face {
 font-family: 'sanFrancisco';
 src: url('../font/Lato-Regular.ttf');
}
@font-face {
 font-family: 'sanFranciscoBold';
 src: url('../font/Lato-Bold.ttf');
}

html, body, section {
	height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
section{
	position: relative;

}
.centered{
  text-align: center;
}
.sanFrancisco{
  font-family: 'sanFrancisco';
}
 .noMargin{
   margin: 0px;
   width: 100%;
 }
.section{
	height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.intersection{
  background-color: white;
  height: 100px;
  position: relative;
  overflow: hidden;
}

#home{
	background-image: url('../images/foto1.jpg');
	background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #293B47;
  height: calc(100% - 90px);
  min-height: 600px;
  position: relative;
  overflow: hidden;
}
.arrow{
  position: absolute;
  bottom: 0;
  width: 100px;
  left:calc(50% - 50px);
  left: -webkit-calc(50% - 50px);
  left: -moz-calc(50% - 50px);
  margin: auto;
}
#contact{
  background-color: white;
  height: auto;
  min-height: 100%;
  position: relative;
  overflow: hidden;
}
#contact{
  background-color: white;
  height: auto;
  min-height: 100%;
  position: relative;
  overflow: hidden;
}

.form{
  padding:30px!important;
}
.formButton{
  background-color: #293B47;
}
.formButton:hover , .formButton:focus{
  background-color: #293B47;
}
.title{
  font-family: 'sanFranciscoBold';
  font-size: 25px;
  color: #293B47;
}
.subtitle{
  font-family: 'sanFranciscoBold';
  font-size: 17px;
  color: #293B47;
}
.contactText{
  font-family: 'sanFrancisco';
  font-size: 18px;
  color: #293B47;
}

#aesthetic{
  background-color: white;
  height: auto;
  min-height: 100%;
  position: relative;
  overflow: hidden;
}
.titleCol{
  background-color: #293B47;
}
.superTitles{
  color: white;
  font-family: 'sanFranciscoBold';
  font-size: 35px;
  padding-top: 15px;
  padding-bottom: 13px;
}
.titleRow{
  margin-top: 25px;
  background-color: #293B47;
}
.parigraphRow{
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
}

#repairer{
  background-color: white;
  height: auto;
  min-height: 100%;
  position: relative;
  overflow: hidden;
}
#noSurgical{
  background-color: white;
  height: auto;
  min-height: 100%;
  position: relative;
  overflow: hidden;
}


.modalTitle {
    font-family: 'sanFrancisco';
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #293B47;
}
.modalText{
  font-family: 'sanFrancisco';
  font-size: 18px;
  color: #293B47;
  margin: 3px;

}
.brandImage{
  height: 100px;
}
.seeMore{
  margin-bottom: 0px;
}

@media (max-width: 767px) { /*Para monitores xs*/
  .brandImage{height: 80px;}
  .experienceCol{text-align: center;}
  .seeMore{ margin-bottom: 20px;}
}
